/* Alap stílusok az oldalhoz */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }
  
  /* Stílusok a fejléchez */
  #title {
    text-align: center;
    padding: 20px;
  }
  
  #title h1 {
    font-size: 36px;
  }
  
  #title h2 {
    font-size: 24px;
    color: #3498db;
  }
  
  /* Stílusok a konténerekhez */
  .container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  /* Stílusok a dobozokhoz */
  .box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .box:hover {
    background-color: #f5f5f5;
  }
  
  /* Stílusok az ikonokhoz */
  .icon {
    font-size: 36px;
    color: #3498db;
  }
  
  /* Stílusok a címekhez */
  .content h3 {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
  }
  
  /* Stílusok a szövegekhez */
  .content p {
    font-size: 16px;
    color: #666;
  }
  
  /* Stílus a linkekhez */
  .content a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s;
  }
  
  .content a:hover {
    color: #1e8bc3;
  }