* {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    float: left;
    background-color: coral;

}

li a {
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 14px 16px;
    color: black;
    text-align: center;
}