html {
    scroll-behavior: smooth;
}

p {
    background-color: red; /*900 a legnagyobb */
    padding: 10px;
}

#intro-paragraph {
    font-weight: 900;
    background-color: green;
}

/*Specifitással lehet a szöveg erősségét növelni. A sima p az 001 míg a p# már 101 */
/* w3 css specificity oldalán lehet kiszámolni melyik megnevezésnek mennyi a specifitije */ 

p#intro-paragraph {
    background-color: aqua;
}

.bg-blue {
    background-color: rgb(139, 139, 190);
}

/* Ahova bemásolom azt az elemet beszínezi */

/* Egy órával a kezdés után elveszítettem a fonalat */



