body {
    background: rgb(247, 193, 173);
}

h1 {
    width: 100%;
    background: #fff;
    margin: 10px auto;
    text-align: center;
}

div.wrapper {
    background: #ddd;
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

div.card {
    background-color: #eee;
    width: 29.33%;
    float: left;
    margin: 1%;
    padding: 1%;

}

div.card-wrapper:after{
    content:"";
    display: table;
    clear: both;
}

div.content {
    padding: 10px;
    background: #ccc;
    margin-top: 50px;
}