div {
    width: 30%;
    background-color: cadetblue;
    /*padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;*/
    padding: 15px 10px 10px 25px;
    margin: 35px auto;
    border: 2px solid black;
    -webkit-box-shadow: 4px 12px 28px 2px #000000;
    box-shadow: 4px 12px 28px 2px #000000;
    border-radius: 35px;
}

div:hover {
    background-color: cornflowerblue;
    border: 2px solid gray;
    -webkit-box-shadow: 4px 12px 28px 9px #000000;
    box-shadow: 4px 12px 28px 9px #000000;
}