body {
    background-color: darksalmon;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

h1 {
    text-align: center;
    color: cornflowerblue;
    background-color: ghostwhite;
}

/* Images */

img {
    display: block;
    width: 100%;
}

/* Images END */